<html>

<head>
<title>My Demo</title> 
</head>

<body>
<h1>Would you like to know who rules the world ???</h1>
<h1>Login with your username/password and find out !!!</h1>

<form role = "form" action = "<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method = "post">
<input type = "text" name = "username" placeholder = "username" required autofocus /></br>
<input type = "password" name = "password" placeholder = "password" required /></br>
<button type = "submit" name = "login">Login</button>
</form>

<?php
if (isset($_POST['login'])) {
	$username = $_POST['username'];
	$password = $_POST['password'];

	$url = "{{ vault_address }}/v1/auth/userpass/login/$username";
	$ch = curl_init($url);
	$field="{ \"password\": \"$password\" }";

	curl_setopt($ch, CURLOPT_POST, 1);
	curl_setopt($ch, CURLOPT_POSTFIELDS, $field);
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);

	$response = json_decode(curl_exec($ch));
	curl_close($ch);

	if (isset($response->auth)) {
		$token = $response->{'auth'}->client_token;
		$url = "{{ vault_address }}/v1/secret/foo";
		$ch = curl_init($url);

		curl_setopt($ch, CURLOPT_HTTPHEADER, array("X-Vault-Token: $token"));
		curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
		$response = json_decode(curl_exec($ch));
		curl_close($ch);
		$secret = $response->{'data'}->value;

		echo "<h1>Ooooops ... $secret</h1>";
	} else {
		echo '<h2>Sorry, wrong username or password</h2>';
	}
}
?>
</body>
</html>
