[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/bin/consul agent $OPTIONS -config-dir={{ consul_cfg_dir }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=consul
Group=consul

[Install]
WantedBy=multi-user.target
