{
  "service": {
    "name": "vault",
    "port": {{ vault_port }},
    "checks": [
      { 
        "http": "{{ vault_address }}/v1/sys/health",
        "interval": "5s",
        "timeout": "2s"
      }
    ]
  }
}
