backend "consul" {
  address = "127.0.0.1:8500"
  path = "vault"
  advertise_address = "{{ vault_address }}"
}

listener "tcp" {
  address = "{{ hostvars[inventory_hostname]['ansible_' + consul_interface]['ipv4']['address'] }}:{{ vault_port }}"
  tls_disable = 1
}

disable_mlock = true
